* {
  box-sizing: border-box;
}
.navbar-brand.logo_h {
  font-family: "Bungee", cursive;
}

.anh {
  display: block;
  max-width: 100%;
  margin: auto;
}
.content {
    margin: Opx;
    border-radius: 5px 10px 4px 8px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    width: 90%;
  }