* {
  box-sizing: border-box;
}
body {
  margin: Opx;
  border-radius: 5px 10px 4px 8px;
  box-shadow: 5px 5px 4px #888888;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
  width: 80%;
}
h1 {
  font-size: 32px;
  line-height: 36px;
  color: #222222;
}
h2 {
  font-size: 17px;
  line-height: 22px;
  color: #111111;
  padding-top: 5px;
}
.image {
  max-width: 100%;
  display: block;
}
.menu {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    list-style-type: none;
    justify-content: space-around;
    
}
